[class^="container"]{
    min-height: 40px;
}
/* UTILS */
.row{
    min-height: 50px;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
section{
    margin-bottom: 2rem;
}
.title{
    font-size: 2rem;
}
.bg-blue{
    background-color: #00439c;
}
.text-blue{
    color: #00439c;
}
.border-blue{
    border-bottom: 3px solid #00439c;
}
/* IMG */
.logo-header-img{
    width: 100px;
}
.globe{
    width: 20px;
}
.ps{
    width: 100px;
}
.sie{
    width: 150px;
}
.img-none{
    display: none;
}

/* HEADER */
header{
    position: sticky;
    top: 0;
}
.logo{
    height: 40px;
}
.navbar, .nav-actions{
    height: 80px;
}
.nav-actions ul > *{
    margin-left: 15px;
}
.nav-actions ul li > *{
    color: black;
}
.nav-actions{
    display: none;
}

/* JUMBOTRON */
#main-jumbo{
    height: 600px;
    background-image: url('./img/jumbo-bg.png');

}
#secondary-jumbo{
    height: 600px;
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
}
.jumbotron{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}



/* FOOTER */

#links .col-12 ul li{
    padding-bottom: 0.5rem;
}

/* RESPONSIVE */

@media screen and (min-width: 992px) {
    .thumbnail-products > *{
        margin: 1rem;
    }
    .thumbnail-products {
        justify-content: center;
    }
    .img-none{
        display: block;
    }
}
@media screen and (min-width: 1400px){
    .bars{
        display: none;
    }
    .nav-actions{
        display: flex;
    }
    
}

/* HOVER */

a:hover{
    color: rgb(180, 180, 180);
    border-color: rgb(181, 181, 181);
}

